<div class="flex justify-between items-center bg-green-500 p-4">
  <h1 class="text-white text-3xl">Shopping App</h1>
  <div class="flex space-x-4">
    <!-- need thes button as anchore link -->
    <div class="text-white bg-green-700 px-4 py-2 rounded">
        <a href="#" (click)="onSelect('recipe')">Recipes</a>
    </div>
    <div class="text-white bg-green-700 px-4 py-2 rounded">
        <a href="#" (click)="onSelect('shopping-list')">Shopping List</a>
    </div>
    <div class="text-white bg-green-700 px-4 py-2 rounded">
        <a href="#">Manage</a>
    </div>
    <!-- add and dropdown icon on Manage -->
    <!-- <button class="text-white bg-green-700 px-4 py-2 rounded">Manage</button> -->
  </div>